body{
	font:14px/1.5"Helvetica Neue", Arial, Helvetica, sans-serif;
	width: 960px;
	margin: 0 auto;
	background: #8f8e8e;
	background-image: url("../images/bg_image.jpg");
	background-repeat: repeat-x;
	/* background: #9e9e9e; */
}

/* links */

	a:link{
	color: #c1d82f;
	text-decoration:none;
	}
	a:visited{
	color: #98b001;
	} 
	a:hover{
	color: #fff;
	text-decoration:underline;
	}
	a:active{
	color: #fa0404;
	}
	
	ol{
	list-style-type: circle;
	color: #c1d82f;
	}

	ul{
	list-style-type: none;
	}

/* logo */

	logo{
	padding: 0px 5px;
	float: left;
	}

/* Navigation */
	
	nav{
	color: #000000;
	font:18px/1"Helvetica Neue", Arial, Helvetica, sans-serif;
	width: 500px;
	float: right;
	}

/* CTA */


	.ctabox{
	width: 960px;
	height: 282px;
	margin: 0 auto;
	background-color: #000;
	border: 3px solid #000;
	border-radius: 10px;
	clear: left;
	}
	
	.ctaimage{
	float: left;
	}

	h1{
	color: #c1d82f;
	font:28px/1"Archivo Black", sans-serif;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
	padding: 5px 10px;
	}

	h2{
	color: #fff;
	font:18px/1"Archivo Black", sans-serif;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
	padding: 5px;
	}
	
	.maintext{
	color: #fff;
	font:22px/1"Archivo Black", sans-serif;
	text-align: center;
	text-shadow: 2px 2px 2px #c1d82f;
	}
	
	.button{
	width: 175px;
	height: 40px;
	color: #fff;
	font:24px/1.25"Archivo Black", sans-serif;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
	padding: 5px 5px 5px 5px;
	background-color: gray;
	border: 2px dotted #c1d82f;
	border-radius: 10px;
	float: right;
	}

/* Side Bar */

	aside{
	width: 250px;
	height: 250px;
	background-color: #000;
	border-radius: 10px;
	margin: 35px 0px;
	clear: left;
	}

	h3{
	color: #c1d82f;
	font:21px/2"Archivo Black", sans-serif;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
	}

/* Main Body */

	.bodytext{
	-moz-column-count: 2;
	color: #fff;
	font:12px/1.5"Archivo Black", sans-serif;
	width: 50px;
	text-align: left;
	margin: 35px 0px;
	float: right;
	}

/* Gallery */

	.gallery1{
	width: 960px;
	float: left;
	}

	#base{
	width: 165px;
	border: 8px solid #000;
	display: block;
	margin-left: 20px;
	width: 165px;
	height: 165px;
	float: left;
	}
	
	#foot2{
	width: 165px;
	border: 8px solid #000;
	display: block;
	margin-left: 20px;
	width: 165px;
	height: 165px;
	float: left;
	}
	
	#bask3{
	width: 165px;
	border: 8px solid #000;
	display: block;
	margin-left: 20px;
	width: 165px;
	height: 165px;
	float: left;
	}
	
	#socc4{
	width: 165px;
	border: 8px solid #000;
	display: block;
	margin-left: 20px;
	width: 165px;
	height: 165px;
	float: left;
	}

/* Footer */

	.bottom{
	font:14px/1.5"Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	width: 960px;
	height: 40px;
	margin: 35px 0px;
	background-color: black;
	border: 2px dotted #c1d82f;
	border-radius: 10px;
	clear: both;
	}