/* Navigation...................................................................................... *\
/* Call to action...................................................................................... *\
.h1{
	color: c1d82f;
	font-family: 'Aguafina Script', cursive;
	padding: 15px 15px 15px 300px;
	margin: 0 auto;
}
/* Body...................................................................................... *\
p {
	color: red;
	}
/* Sidebar...................................................................................... *\
/* Text...................................................................................... *\

a:link{
color:#80ea0e;
}

a:visited{
color:#9e9e9e;
}

a:hover{
color:#fff;
}

a:active{
color:#c1d82f;
}